{% extends "base.html" %}
{% load static %}

<!-- Page Header-->
{% block header %}
    {% if post.capa %}
        <header class="masthead" style="background-image: url('{{ post.capa.url }}')">
    {% else %}
        <header class="masthead">
    {% endif %}
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.titulo }}</h1>
                            <h2 class="subheading">{{ post.subtitulo }}</h2>
                            <span class="meta">
                                Postado por
                                <a href="#!">{{ post.usuario.username }}</a>
                                em {{ post.data_criacao }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock header %}

{% block content %}
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.conteudo }}
                </div>
                <a href="{% url 'deletar_post' post.id %}">
                    <button class="btn btn-danger btn-sm">Deletar</button>
                </a>
                <a href="{% url 'editar_post' post.id %}">
                    <button class="btn btn-warning btn-sm">Editar</button>
                </a>
            </div>
        </div>
    </article>
{% endblock content %}